<style>
    .logo{
        width:200px; height:200px;
    }
</style>

<div>
    <h1>Welcome to @Title!</h1>
	<img src="../img/logo.png" class="logo" />
</div>

<form name="aluno" method="post">
	<fieldset>
		<legend>Cadastro de Aluno</legend>

		<label>
			<span>Nome</span>
			<input type="text" name="nome" />
		</label>
		<br/><br/>
		<label>
			<span>Série</span>
			<input type="text" name="serie" />
		</label>
		<br/><br/>
		<label>
			<span>Classe</span>
			<input type="text" name="classe" />
		</label>
		<br/><br/>

		<input type="submit" /> 
	</fieldset>
</form>


@code {
    string Title = "Blazor";
}
